#title{
    color: #4B1B9A;
    margin: 15px;
}

#chord-list{
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
}

#chord-list p{
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    background-color: #B7A8D1;
    margin: 10px;
    color: #4B1B9A;
    font-size: 25px;
    border: 1px solid #4B1B9A;
    transition: 0.3s;
    cursor: pointer;
}
#chord-list p:hover{
    background-color: #4B1B9A;
    color: #B7A8D1;
    border: 1px solid #B7A8D1;
}

#chord-line-up-container{
    max-width: 800px;
    max-height: 300px;
    border: 8px solid #4B1B9A;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;

}

#chord-line-up-container p{
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
    background-color: #B7A8D1;
    margin: 10px;
    color: #4B1B9A;
    font-size: 25px;
    border: 1px solid #4B1B9A;
}

form{
    display: flex;
}
#capo-number{
    height: 30px;
    margin: 10px;
    width: 40px;

}
#button{
    height: 20px;
    padding: 5px;
    margin: 10px;
    background-color: #BBD548;
    border: 1px solid #7C7E73;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    transition: 0.3s;
}

#button:hover{
    background-color: black;
    color: #BBD548;
}

.capo form p{
    padding: 5px 10px;
    margin: 10px;
    color: #4B1B9A;
    font-size: 25px;
}
